.chart__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
  text-align: center;
}

.button__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 480px) {
  .button__container {
    flex-direction: column;
  }
}
